.catalog-nutrition {
  width: 100%;
  max-width: 320px;
}

.catalog-nutrition__title {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  padding: 35px 0 35px 0;
}

.catalog-nutrition__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0 30px 0;
}

.catalog-nutrition__wrapper-information {
  display: flex;
}

.catalog-nutrition__item-description {
  font-size: 16px;
  text-transform: uppercase;
}

.catalog-nutrition__list-description {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

.button {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  width: 280px;
  height: 40px;
}

.show-more {
  padding: 30px 0 30px 0;
  width: 100%;
  max-width: 320px;
  border-bottom: 1px solid #e6e6e6;
}

.show-more__logo-plus {
  display: flex;
  justify-content: center;
}

.show-more__text {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
}

.show-more__text--small {
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 15px;
}

.show-more__button {
  font-size: 16px;
  width: 320px;
  height: 40px;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  margin-top: 25px;
}

.additional-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  justify-content: space-between;
}

.additional-items__main-title {
  width: 100%;
  max-width: 280px;
  font-size: 24px;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #e6e6e6;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.additional-item__title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-item {
  padding: 17px 0 17px 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto;
}


.additional-item__descrtiption-text {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

.additional-items__title-descrtiption {
  display: flex;
  width: 100%;
  max-width: 280px;
  justify-content: space-between;
  margin-top: 15px;
}

.button-margin {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  margin-top: 15px;
}

.present {
  margin-top: 40px;
  width: 100%;
  max-width: 320px;
  height: 290px;
  text-align: center;
}

.present__img-text {
  margin-top: -230px;
  margin-bottom: 100px;
}

.present__description {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: white;
  width: 170px;
  text-align: center;
  margin: 0 auto;
  margin-top: 57px;
}
