.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: #f2f2f2;
  margin-top: 20px;

  &__title {
    display: block;
    font-size: 36px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 40px;
    width: 200px;
  }

  &__description {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    width: 270px;
    height: 115px;
    margin-top: 40px;
    margin-left: 20px;
  }

  &__expenses{
    font-size: 14px;
    text-transform: uppercase;
    width: 212px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__was-become{
    display: flex;
    max-width: 226px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__text{
    font-size: 16px;
    text-transform: uppercase;
  }

  &__slider {
    margin-right: 20px;
    margin-left: 20px;
  }

  &__photo-cat {
    background: url(../img/before-mobile@1x.png) no-repeat;
    background-size: 311px 232px;
    width: 311px;
    height: 232px;
  }

  &__slider {
    background: url(../img/before-after.png) no-repeat;
    background-size: 84px 14px;
    width: 84px;
    height: 14px;
  }
}

.example-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  &__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bold-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    border: 1px solid #cdcdcd;
    border-radius: 5%;
    white-space: nowrap;
    width: 124px;
    height: 57px;
  }

  &__small-text {
    position: relative;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    width: 70px;
    height: 26px;
    text-align: center;
    background-color: #f2f2f2;
    top: -10px;
  }
}


@media (min-width: @tablet-width) {
  .example {
    max-width: @tablet-width;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 20px;


    &__title {
      display: inline-block;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: normal;
      font-size: 60px;
      line-height: 0.8;
      margin-bottom: 72px;
      width: 327px;
    }

    &__description {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      width: 680px;
      height: 60px;
      margin-top: 0px;
      margin-left: 30px;
      line-height: 1.4;
    }

    &__expenses{
      font-size: 20px;
      text-transform: uppercase;
      width: 180px;
      text-align: right;
      margin: 0 auto;
      margin-top: -85px;
      margin-bottom: 55px;
      margin-left: 560px;
    }

    &__was-become{
      position: absolute;
      display: flex;
      max-width: 569px;
      margin-top: 990px;
      margin-left: 98px;
      align-items: center;
    }

    &__text{
      font-size: 20px;
      text-transform: uppercase;
      border-bottom: 1px dotted #bebebe;
    }

    &__slider {
      background: none;
      margin-right: 20px;
      margin-left: 20px;
      width: 426px;
      height: 7px;
      background-color: #dcdcdc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &__photo {
      width: 100%;
      max-width: @tablet-width;
      background-color: #f2f2f2;
      margin-top: 253px;
    }

    &__photo-cat {
      position: relative;
      background: url(../img/before-tablet@1x.png) no-repeat;
      background-size: 690px 517px;
      width: 690px;
      height: 517px;
      left: 45px;
      top: -169px;
    }
  }

  .example-result {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 380px;
    margin-left: 30px;
    margin-top: 60px;

    &__paragraph {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bold-text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 5%;
      white-space: nowrap;
      width: 162px;
      height: 72px;
    }

    &__bold-text--left {
      margin-left: 40px;
    }

    &__small-text {
      position: relative;
      font-size: 14px;
      font-family: 'Arial', sans-serif;
      width: 135px;
      height: 17px;
      text-align: center;
      background-color: white;
      top: -10px;
    }

    &__small-text--left {
      left: 20px;
    }

    &__small-text--width {
      width: 108px;
    }
  }

}




@media (min-width: @desktop-width) {
  .example {
    background-color: blue;
    max-width: @desktop-width;
  }

}
