.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: #f2f2f2;
  margin-top: 20px;

  &__title {
  display: block;
  font-size: 36px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 40px;
  width: 200px;
  }

  &__description {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  width: 270px;
  height: 115px;
  margin-top: 40px;
  margin-left: 20px;
  }

  &__expenses{
    font-size: 14px;
    text-transform: uppercase;
    width: 212px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__was-become{
    display: flex;
    max-width: 226px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__text{
    font-size: 16px;
    text-transform: uppercase;
  }

  &__slider {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.example-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  &__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bold-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    border: 1px solid #cdcdcd;
    border-radius: 5%;
    white-space: nowrap;
    width: 124px;
    height: 57px;
  }

  &__small-text {
    position: relative;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    width: 70px;
    height: 26px;
    text-align: center;
    background-color: #f2f2f2;
    top: -10px;
  }
}


