.page-form {
  max-width: 320px;
  border-top: 1px solid #e6e6e6;
}

.form-main {
  margin-top: 30px;
}

.form-main__title {
  font-size: 36px;
}

.form-main__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
}

.form-main__info {
  margin-top: 30px;
}

.form-main__info-item {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.form-main__contacts-title {
  font-size: 24px;
}

.form-main__contacts-email {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-main__comments {
  margin-top: 30px;
  font-size: 24px;
}

.form-main__extra {
  margin-top: 30px;
}

.form-main__extra-options {
  font-size: 24px;
}



.form-main__button {
  width: 280px;
  height: 40px;
  margin-top: 30px;
}

.form-explanation {
  width: 100%;
  max-width: 280px;
  margin-top: 25px;
  text-align: center;
}
