// .main-nav__list {
//   overflow: hidden;
//   height: 0;
//   opacity: 0;
//   transition: all 0.5s ease-in;
// }

.page-header {
  max-width: 320px;

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 320px;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo {
    background: url(../img/logo-tablet.svg) no-repeat;
    background-size: 190px 40px;
  }

  &__wrapper-logo {
    display: flex;
    width: 100%;
    max-width: 280px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__logo {
    background: url(../img/logo-mobile.svg) no-repeat;
    width: 190px;
    height: 40px;
  }

  &__logo-menu {
    position: relative;
    top: 4px;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
  width: 320px;
}

.main-nav__list a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .page-header {
    max-width: @tablet-width;
    display: flex;

    &__wrapper {
      display: flex;
      width: 100%;
      height: 82px;
      max-width: 192px;
      border-bottom: none;
      padding: 0;
      margin-left: 30px;
    }

    &__logo {
      background: url(../img/logo-tablet.svg) no-repeat;
      background-size: 173px 78px;
      width: 173px;
      height: 78px;
    }

    &__logo-menu {
      display: none;
    }
  }

  .main-nav {
    // width: 100%;
    max-width: 100%;
    flex-direction: row;
    margin-left: 37px;

    &__list {
      display: flex;
      flex-direction: row;

      // width: 100%;

      // width: 440px;
      align-items: center;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      // white-space: pre;
    }
  }

  .site-list__item {
    display: flex;
    padding: 0;
    position: relative;
    border-bottom: 2px solid transparent;
    width: auto;
    padding: 0 5px;
  }

  // .site-list__item:nth-child(1) {
  //   width: 65px;
  // }

  // .site-list__item:nth-child(2) {
  //   width: 155px;
  // }

  .site-list__item--active {
    padding-bottom: 10px;
    border-bottom: 2px solid #68b738;
    margin-top: 12px;
  }

  .main-nav__list a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: @desktop-width;
    padding: 54px 0 54px 0;
    margin: 0;

    &__wrapper {
      display: flex;
      width: 100%;
      height: 82px;
      max-width: 192px;
      border-bottom: none;
      padding: 0;
      margin-left: 112px;
    }

    &__logo {
      background: url(../img/logo-desktop.svg) no-repeat;
      background-size: 190px 79px;
      width: 222px;
      height: 78px;
    }

    &__logo-menu {
      display: none;
    }
  }

  .main-nav {
    width: 100%;
    max-width: 478px;
    flex-direction: row;
    margin-left: 58px;
    margin-top: 10px;

    &__list {
      display: flex;
      flex-direction: row;
      width: 100%;
      width: 478px;
      align-items: center;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      white-space: pre;
    }
  }

  .site-list__item {
    display: flex;
    padding: 0;
    color: white;
  }

  // .site-list__item:nth-child(1) {
  //   width: 73px;
  //   width: none;
  // }

  // .site-list__item:nth-child(2) {
  //   width: 165px;
  //   border-bottom: 2px solid;
  // }

  .site-list__item--active {
    margin-top: 0px;
  }

  .main-nav__list a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    z-index: 2;
  }
}
